.wallpaper {
	position: absolute;
	height: 200px;
	width: 100%;
    background: linear-gradient(90deg, pink 100%, pink 50%);
}
.avatar {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin-top: 150px;
	box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1);
}
