html,body {
    background-color: #efeff4;
}
.title{
    margin: 20px 15px 10px;
    color: #6d6d72;
    font-size: 15px;
}
 .oa-contact-cell.mui-table .mui-table-cell {
 	padding: 5px 10px;
    vertical-align: middle;
}

.oa-contact-cell {
    position: relative;
    vertical-align: middle;
}

.oa-contact-avatar {
    width: 75px;
    vertical-align: middle;
}
.oa-contact-avatar img {
    border-radius: 50%;
    vertical-align: middle;
}
.oa-contact-content {
    width: 100%;
}
.oa-contact-name {
    margin-right: 20px;
}
.oa-contact-name, oa-contact-position {
    float: left;
}